







/*  blue: 2b2f56
    teal: 5ec3b1
    orange: df5b2f
    light blue: eff1fb */

/* Site Wide Styles */

.btn-outline-dark, .languageLogo {
  width: 100%;
}

/* Header */

h1 {
  text-align: center;
}

/* Sidebar: Suggestion Quiz */

select {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.custom-select:after {
  color: #df5b2f;
}

/* Main Content: Quiz Results */

#incompleteQuiz, #swiftContent, #cContent, #pythonContent, #qualities {
  display: none;
}

.languageLogo {
  float: right;
  margin: 20px;
}