/*  green: 2d4e3b
    orange: ecb540
    medium grey: 36373a
    darker grey: 292a2d
    text black: 302e31 
    background-color fbfaff*/

/* Site Wide Styles */

body {
  color: #302e31;
  background-color: #2d4e3b;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.container {
background-color: #fbfaff;
min-height: 100%;
padding: 50px;
margin-top: auto;
margin-bottom: auto;
}

.btn-outline-dark, .languageLogo {
  width: 100%;
}

a {
  color: #ecb540;
}

/* Header */

.jumbotron {
  background-color: #fbfaff;

  
}

.jumbotron h1, .jumbotron p {
  text-align: center;
}

/* Sidebar: Suggestion Quiz */

select {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.custom-select:after {
  color: #df5b2f;
}

/* Main Content: Quiz Results */

#incompleteQuiz, #swiftContent, #cContent, #pythonContent, #qualities {
  display: none;
}

.languageLogo {
  float: right;
  margin: 20px;
}