/*  green: #2d4e3b
    orange: #ecb540
    medium grey: #36373a
    darker grey: #292a2d
    text black: #302e31
    background-color fbfaff*/

/* Site Wide Styles */

body {
  color: #302e31;
  background-color: #2d4e3b;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  font-size: 16px;
  Font-Family: 'Bitter', Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, h2, h4 {
  Font-Family: 'PT Sans', Sans-Serif;
  Font-Size: 46px;
  font-weight: 400;
}

p, li {
  Font-Family: 'Bitter', Serif;
  Font-Size: 14px;
}

.container {
background-color: #fbfaff;
min-height: 100%;
padding: 0px 30px 30px 30px;
margin-top: auto;
margin-bottom: auto;
}

.btn-outline-dark {
  width: 100%;
}

a {
  color: #ecb540;
}

hr.light {
  border-top: 1px solid #292a2d16;
}

hr.dark {
  border-top: 1px solid #292a2d;
}

hr.yellow {
  border-top: 1px solid #ecb540;
}

hr.sm {
  width: 4%;
  margin-top: 10px;
  margin-bottom: 30px;
}

hr.md {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 25px;
}

/* Header */

.jumbotron {
  background-color: #fbfaff;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;;
  margin: 0;
}

.jumbotron h1 {
  line-height: 60px;
  font-size: 46px;
  margin-bottom: 20px;
}

.jumbotron h1, .jumbotron p {
  text-align: center;
}

/* Sidebar */

#sidebar {
  background-color: #36373a;
  color: #fbfaff;
  padding-top: 30px;
  padding-bottom: 30px;
}

#instructions {
  color: #fff;
  text-align: center;
  font-size: 16px;
}

#sidebar h4 {
  width: 95%;
  font-size: 18px;
  margin-bottom: 15px;
  padding-left: 15px;
}

select {
  padding: 15px;
  width: 100%;
}

.btn-outline-dark {
  background-color: #ecb540;
  color: #292a2d;
  padding: 10px;
}

.btn-outline-dark:hover {
  background-color: #292a2d;
  color: #fff;
}

.custom-select:after {
  color: #df5b2f;
}

/* Main Content: Quiz Results */

#incompleteQuiz, #swiftContent, #cContent, #pythonContent, #qualities {
  display: none;
}

.quizResults {
  padding-top: 30px;
  padding-left: 10px;
}
.quizResults h3 {
  text-transform: uppercase;
  font-size: 14px;
}

img.languageLogo {
  width: 100
  float: right;
}

/* Footer Styles */


#footer {
  padding-top: 30px;
  text-align: center;
}

#footer p {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  color: #292a2d32;

}

#footer a {
  color: #ecb54074;
}